# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.env
*.env

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Mac
.DS_Store

# Virtual environments
venv/
env/

# Logs
*.log

# FAISS generated indices (optional if persisting indices)
*.index
*.faiss

# Streamlit
.streamlit/secrets.toml
